<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="ProxySwitcher"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="ProxySwitcher framework module" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="ProxySwitcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProfileEditorActivity"
            android:exported="false"
            android:label="New Proxy" />
        <activity
            android:name=".WiFiPickerActivity"
            android:exported="false"
            android:label="Add Saved Wi-Fi" />
        <activity
            android:name=".DiagnosticsActivity"
            android:exported="false"
            android:label="Diagnostics" />
        <activity
            android:name=".LsposedHelpActivity"
            android:exported="false"
            android:label="LSPosed Setup Help" />

        <service
            android:name=".ProxyTileService"
            android:exported="true"
            android:icon="@drawable/proxy_switcher_cc_glyph"
            android:label="ProxySwitcher"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.TOGGLEABLE_TILE"
                android:value="true" />
        </service>
    </application>
</manifest>
